.jumbotron.jumbotron-fluid
  .container
    %h1.display-3 Hello, world!
    %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %hr.my-4/
    %p It uses utility classes for typography and spacing to space content out within the larger container.
    %p.lead
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more


.container

  %h2 Navbars

  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Home
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Disabled
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

  %br
  %br

  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent2.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Home
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Disabled
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

  %br
  %br

  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent3", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent3.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Home
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Disabled
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

  %br
  %br



  %h2 General styles

  :plain
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>


    <h2>Example body text</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>

  =link_to "Link", "#"






  %h2 Blocks

  .card
    .card-body
      This is some text within a card block.


  %br

  .card{:style => "width: 20rem;"}
    %img.card-img-top{:alt => "Card image cap", :src => "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15de1cf2dfb%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15de1cf2dfb%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.0078125%22%20y%3D%2297.2%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"}/
    .card-body
      %h4.card-title Card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      %a.btn.btn-primary{:href => "#"} Go somewhere


  %br
  .card{:style => "width: 20rem;"}
    .card-body
      %h4.card-title Card title
      %h6.card-subtitle.mb-2.text-muted Card subtitle
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      %a.card-link{:href => "#"} Card link
      %a.card-link{:href => "#"} Another link


  %br
  %br

  %h2 Buttons

  %button.btn.btn-primary{:type => "button"} Primary
  %button.btn.btn-secondary{:type => "button"} Secondary
  %button.btn.btn-success{:type => "button"} Success
  %button.btn.btn-danger{:type => "button"} Danger
  %button.btn.btn-warning{:type => "button"} Warning
  %button.btn.btn-info{:type => "button"} Info
  %button.btn.btn-light{:type => "button"} Light
  %button.btn.btn-dark{:type => "button"} Dark
  %button.btn.btn-link{:type => "button"} Link


  %br
  %br
  %button.btn.btn-outline-primary{:type => "button"} Primary
  %button.btn.btn-outline-secondary{:type => "button"} Secondary
  %button.btn.btn-outline-success{:type => "button"} Success
  %button.btn.btn-outline-danger{:type => "button"} Danger
  %button.btn.btn-outline-warning{:type => "button"} Warning
  %button.btn.btn-outline-info{:type => "button"} Info
  %button.btn.btn-outline-light{:type => "button"} Light
  %button.btn.btn-outline-dark{:type => "button"} Dark


  %p
  .btn-group{:role => "group"}
    %button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Dropdown
    .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
      %a.dropdown-item{:href => "#"} Dropdown link
      %a.dropdown-item{:href => "#"} Dropdown link

  .btn-group{:role => "group"}
    %a#btnGroupDrop2.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
      Dropdown
    .dropdown-menu{"aria-labelledby" => "btnGroupDrop2"}
      %a.dropdown-item{:href => "#"} Dropdown link
      %a.dropdown-item{:href => "#"} Dropdown link




  %br
  %br

  %h3 Blocks

  .row
    .col-lg-6.col-sm-2
      %h4 Professional email and more
      %p
        Get custom email (@yourcompany.com), 24/7 support, 30GB of storage, and more.
      %p
        =link_to "More &raquo;".html_safe, "#"

    .col-lg-6.col-sm-2
      %h4 Freedom to work from anywhere
      %p
        Create, edit and share files on the go from your phone, laptop or tablet.
      %p
        =link_to "More &raquo;".html_safe, "#"

    .col-lg-6.col-sm-2
      %h4  Business-grade security and controls
      %p
        Manage your companyвЂ™s devices and data with tools that provide the control you need.
      %p
        =link_to "More &raquo;".html_safe, "#"



  %h2 Lists

  %ul
    %li
      Gmail
    %li
      Hangouts
    %li
      Calendar


  %h3 Inline list

  %ul.list-inline
    %li
      Gmail
    %li
      Hangouts
    %li
      Calendar




  %h2 Tabs


  %h3 Default tabs: .nav.nav-tabs

  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.nav-item
      %a#home-tab.nav-link.active{"aria-controls" => "home", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} Home
    %li.nav-item
      %a#profile-tab.nav-link{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Profile
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        Dropdown
      .dropdown-menu
        %a#dropdown1-tab.dropdown-item{"aria-controls" => "dropdown1", "data-toggle" => "tab", :href => "#dropdown1", :role => "tab"} @fat
        %a#dropdown2-tab.dropdown-item{"aria-controls" => "dropdown2", "data-toggle" => "tab", :href => "#dropdown2", :role => "tab"} @mdo

  #myTabContent.tab-content
    #home.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
      %p
        Page 1
    #profile.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
      %p
        Profile content
    #dropdown1.tab-pane.fade{"aria-labelledby" => "dropdown1-tab", :role => "tabpanel"}
      %p
        DD 1 text
    #dropdown2.tab-pane.fade{"aria-labelledby" => "dropdown2-tab", :role => "tabpanel"}
      %p
        DD 2 text




  %br


  %h2 pagination

  %nav{"aria-label" => "Page navigation example"}
    %ul.pagination
      %li.page-item
        %a.page-link{"aria-label" => "Previous", :href => "#"}
          %span{"aria-hidden" => "true"} «
          %span.sr-only Previous
      %li.page-item
        %a.page-link{:href => "#"} 1
      %li.page-item
        %a.page-link{:href => "#"} 2
      %li.page-item
        %a.page-link{:href => "#"} 3
      %li.page-item
        %a.page-link{"aria-label" => "Next", :href => "#"}
          %span{"aria-hidden" => "true"} »
          %span.sr-only Next


  %h2 Breadcrumbs

  %nav.breadcrumb
    %a.breadcrumb-item{:href => "#"} Home
    %a.breadcrumb-item{:href => "#"} Library
    %a.breadcrumb-item{:href => "#"} Data
    %span.breadcrumb-item.active Bootstrap



  %h2 Forms


  %h3 Horizontal form

  %form
    .form-group
      %label{:for => "exampleInputEmail1"} Email address
      %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
      %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      %label{:for => "exampleInputPassword1"} Password
      %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
    .form-check
      %label.form-check-label
        %input.form-check-input{:type => "checkbox"}/
        Check me out
    %button.btn.btn-primary{:type => "submit"} Submit



  %h3 Inline form

  %form.form-inline
    %label.sr-only{:for => "inlineFormInputName2"} Name
    %input#inlineFormInputName2.form-control.mb-2.mr-sm-2.mb-sm-0{:placeholder => "Jane Doe", :type => "text"}/
    %label.sr-only{:for => "inlineFormInputGroupUsername2"} Username
    .input-group.mb-2.mr-sm-2.mb-sm-0
      .input-group-addon @
      %input#inlineFormInputGroupUsername2.form-control{:placeholder => "Username", :type => "text"}/
    .form-check.mb-2.mr-sm-2.mb-sm-0
      %label.form-check-label
        %input.form-check-input{:type => "checkbox"}/
        Remember me
    %button.btn.btn-primary{:type => "submit"} Submit



  %br



  %h3 Form controls
  %form
    .form-group
      %label{:for => "exampleFormControlInput1"} Email address
      %input#exampleFormControlInput1.form-control{:placeholder => "name@example.com", :type => "email"}/
    .form-group
      %label{:for => "exampleFormControlSelect1"} Example select
      %select#exampleFormControlSelect1.form-control
        %option 1
        %option 2
        %option 3
        %option 4
        %option 5
    .form-group
      %label{:for => "exampleFormControlSelect2"} Example multiple select
      %select#exampleFormControlSelect2.form-control{:multiple => "multiple"}
        %option 1
        %option 2
        %option 3
        %option 4
        %option 5
    .form-group
      %label{:for => "exampleFormControlTextarea1"} Example textarea
      %textarea#exampleFormControlTextarea1.form-control{:rows => "3"}







  %h3 Icons

  =fa_icon 'gear'


%h1 Carousel

#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{:alt => "First slide", :src => "https://bootstrap-themes.github.io/marketing/assets/img/startup-13.svg", :height=>240}/
    .carousel-item
      %img.d-block.w-100{:alt => "Second slide", :src => "https://bootstrap-themes.github.io/marketing/assets/img/startup-12.svg", :height=>240}/
    .carousel-item
      %img.d-block.w-100{:alt => "Third slide", :src => "https://bootstrap-themes.github.io/marketing/assets/img/startup-11.svg", :height=>240}/
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next


.clearfix
%br
%br
%br