= block 'shared/topbar'

.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      /= link_to "AVI service" , root_path, :class => 'navbar-brand'
      %a{href: cms.root_path, class: 'navbar-brand logo'}
        /= fa_icon "laptop"
        /&nbsp;
        =image_tag "logo.png", :alt=>'AVI-service', :height => 60

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to 'Главная', cms.root_path
        %li
          =link_to 'Услуги', site_page_path('services')
        %li
          =link_to 'О компании', site_page_path('about')
        %li
          =link_to 'Контакты', site_page_path('contacts')


      %ul.nav.navbar-nav.navbar-right


    / /.nav-collapse

