<div class="contact-us-one">
  <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2563.8375219379523!2d36.2294769!3d50.0144005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1269bbd2cf3%3A0xdf59a004d6cc00b4!2sSerpova+St%2C+4%2C+Kharkiv%2C+Kharkiv+Oblast!5e0!3m2!1sen!2sua!4v1418130310265&language=ru" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<br><br>
<div class="contact-us-one">
  <div class="container">
    <div class="row">
      <div class="col-md-16 col-sm-32 col-xs-32">
        <div class="row">
          <div class="col-md-8 col-sm-16 col-xs-16">
            <h4><i class="fa fa-building-o color"></i> Адрес</h4>
            <p>г. Харьков,<br />
              ул. Серповая, 4<br>
              офис 211, 2-й этаж
            </p>

          </div>
          <div class="col-md-10 col-sm-20 col-xs-20">
            <h4><i class="fa fa-calendar color"></i> Часы работы</h4>
            <p>
              Понедельник-Пятница: с 9:00 до 18:00<br />
              Суббота: с 9:00 до 15:00<br />
              без перерывов<br>
              Воскресенье - выходной<br />
            </p>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-8 col-sm-16 col-xs-16">
            <h4><i class="fa fa-phone color"></i> Телефоны</h4>
            <p>
              +380 (57) 765-76-76<br>
              +380 (99) 300-76-76<br>
              +380 (98) 355-76-76<br>
              +380 (63) 355-76-76<br>
            </p>
          </div>
          <div class="col-md-10 col-sm-20 col-xs-20">
            <h4><i class="fa fa-envelope color"></i> E-mail</h4>
            <p>
              info@aviservice.com.ua
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12 col-xs-12">
        <%=image_tag "about-office-2.jpg", :height => 200 %>
      </div>
    </div>


    <br>
    <h4>AVI Service в социальных сетях</h4>
    <!-- Social -->
    <div class="brand-bg">
      <ul class="list-inline">
        <li><a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"> </i> Google+</a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i> Twitter</a></li>
        <li><a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i> Facebook</a></li>
      </ul>
    </div>

    <br>
    <br>

  </div>
</div>