<h2>Диагностика неисправностей ноутбуков</h2>

Стандартная диагностика — диагностика, которая проводится вне очереди, сразу после сдачи ноутбука в ремонт.
<br>
Срочная диагностика — диагностика, которая проводится вне очереди, сразу после сдачи ноутбука в ремонт.

<h2>Ремонт ноутбуков</h2>
Наш сервисный центр производит следующие виды работ по <strong>ремонту ноутбуков</strong>:
<ul>
<li> Диагностика ноутбуков, поиск неисправностей
<li> Обслуживание ноутбуков(смазка, чистка от пыли)
<li> Ремонт или замена комплектующих для ноутбуков
<li> Апгрейд ноутбуков
<li> Ремонт материнских плат ноутбуков
</ul>
<br /><br />

<p>
  <strong>Стандартный ремонт ноутбуков</strong> производится в течение 3-15 дней. Конечное время зависит от времени поставки комплектующих для ноутбуков от официальных представителей производителей ноутбуков в Украине.<br />
<p>
  <strong>Срочный ремонт ноутбуков</strong> производится в течение 1-2 дней. Стоимость работ увеличивается в договорном порядке.



<h2>Обслуживание ноутбуков</h2>
<p>
  Поддержание ноутбуков вашей компании в исправном состоянии.


<h2>Комплектующие для ноутбуков</h2>
Вы можете заказать комплектующие(компоненты) на все модели ноутбуков Dell, Samsung, Acer, Asus, HP, и др.

<ul>
  <li> ЖК Матрица
  <li> Клавиатуры для ноутбуков
  <li> Жесткие диски/винчестеры HDD, SSD
  <li> Оперативная память (RAM)
  <li> Батареи для ноутбуков
  <li> Блоки питания для ноутбуков
  <li> и другое</li>
</ul>



