//== Colors

$primary: #3f51b5;
// other colors:
// #3f51b5 - indigo from material
// #009FDB - blue
// #687074 - gray

$secondary: #ff9800;
// #ff9800 - orange from material

$light: #757de8;
$dark: #002984;


$secondary-light: #ffc947;
$secondary-dark: #c66900;

$primary-darkest: hsl(hue($primary), saturation($primary), 20%);
//"hsl(#{hue($color)}, #{saturation($color)}, #{lightness($color)})"
//$primary: hsl(hue($primary), 27%, 47%);
$primary-dark: hsl(hue($primary), 27%, 20%);

$primary-desat: hsl(hue($primary), 18%, 54%);
$primary-desat-light: hsl(hue($primary), 18%, 74%);
$primary-desat-dark: hsl(hue($primary), 18%, 40%);
$primary-desat-darker: hsl(hue($primary), 18%, 20%);






// reassign color scheme
$theme-colors: (
        primary: $primary,
        secondary: $secondary,

);
